

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-564704643351839755.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-564704643351839755.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-564704643351839755.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-564704643351839755.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-564704643351839755.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-564704643351839755.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-564704643351839755.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-564704643351839755.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-564704643351839755.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-564704643351839755.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-564704643351839755.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-564704643351839755.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-564704643351839755.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-564704643351839755.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-564704643351839755.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-564704643351839755.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-564704643351839755.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-564704643351839755.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-564704643351839755.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-564704643351839755.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-564704643351839755.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-564704643351839755.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-564704643351839755.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-564704643351839755.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-564704643351839755.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-564704643351839755.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-564704643351839755.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-564704643351839755.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-564704643351839755.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-564704643351839755.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-564704643351839755.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-564704643351839755.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-564704643351839755.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-564704643351839755.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-564704643351839755.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-564704643351839755.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-564704643351839755.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-564704643351839755.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-564704643351839755.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-564704643351839755.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-564704643351839755.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-564704643351839755.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-564704643351839755.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-564704643351839755.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-564704643351839755.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-564704643351839755.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-564704643351839755.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-564704643351839755.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-564704643351839755.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-564704643351839755.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-564704643351839755.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-564704643351839755.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-564704643351839755.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-564704643351839755.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-564704643351839755.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-564704643351839755.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-564704643351839755.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-564704643351839755.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-564704643351839755.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-564704643351839755.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-564704643351839755.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-564704643351839755.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-564704643351839755.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-564704643351839755.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-564704643351839755.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-564704643351839755.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-564704643351839755.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-564704643351839755.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-564704643351839755.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-564704643351839755.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-564704643351839755.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-564704643351839755.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-564704643351839755.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-564704643351839755.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-564704643351839755.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-564704643351839755.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-564704643351839755.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-564704643351839755.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-564704643351839755.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-564704643351839755.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-564704643351839755.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-564704643351839755.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-564704643351839755.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-564704643351839755.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-564704643351839755.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-564704643351839755.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-564704643351839755.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-564704643351839755.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-564704643351839755.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-564704643351839755.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-564704643351839755.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-564704643351839755.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-564704643351839755.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-564704643351839755.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-564704643351839755.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-564704643351839755.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-564704643351839755.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-564704643351839755.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-564704643351839755.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-564704643351839755.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-564704643351839755 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-564704643351839755 .gp-absolute{position:absolute}.gps-564704643351839755 .gp-relative{position:relative}.gps-564704643351839755 .gp-inset-0{inset:0}.gps-564704643351839755 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-564704643351839755 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-564704643351839755 .gp-z-1{z-index:1}.gps-564704643351839755 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-564704643351839755 .gp-mb-0{margin-bottom:0}.gps-564704643351839755 .gp-flex{display:flex}.gps-564704643351839755 .gp-inline-flex{display:inline-flex}.gps-564704643351839755 .gp-grid{display:grid}.gps-564704643351839755 .gp-contents{display:contents}.gps-564704643351839755 .\!gp-hidden{display:none!important}.gps-564704643351839755 .gp-hidden{display:none}.gps-564704643351839755 .gp-h-auto{height:auto}.gps-564704643351839755 .gp-h-full{height:100%}.gps-564704643351839755 .gp-w-full{width:100%}.gps-564704643351839755 .gp-max-w-full{max-width:100%}.gps-564704643351839755 .gp-flex-none{flex:none}.gps-564704643351839755 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-564704643351839755 .gp-flex-col{flex-direction:column}.gps-564704643351839755 .\!gp-content-stretch{align-content:stretch!important}.gps-564704643351839755 .gp-items-center{align-items:center}.gps-564704643351839755 .\!gp-justify-start{justify-content:flex-start!important}.gps-564704643351839755 .gp-justify-center{justify-content:center}.gps-564704643351839755 .gp-gap-y-0{row-gap:0}.gps-564704643351839755 .gp-overflow-hidden{overflow:hidden}.gps-564704643351839755 .gp-break-words{overflow-wrap:break-word}.gps-564704643351839755 .gp-rounded-none{border-radius:0}.gps-564704643351839755 .gp-text-center{text-align:center}.gps-564704643351839755 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-564704643351839755 .gp-no-underline{text-decoration-line:none}.gps-564704643351839755 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-564704643351839755 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-564704643351839755 .gp-duration-200{transition-duration:.2s}.gps-564704643351839755 .gp-duration-300{transition-duration:.3s}.gps-564704643351839755 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-564704643351839755 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-564704643351839755 .hover\:gp-text-g-bg-3:hover{color:var(--g-c-bg-3)}}.gps-564704643351839755 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-564704643351839755 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-564704643351839755 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-564704643351839755 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}.gps-564704643351839755 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-564704643351839755 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-564704643351839755 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-564704643351839755 .tablet\:gp-relative{position:relative}.gps-564704643351839755 .tablet\:\!gp-hidden{display:none!important}.gps-564704643351839755 .tablet\:gp-hidden{display:none}.gps-564704643351839755 .tablet\:gp-h-auto{height:auto}.gps-564704643351839755 .tablet\:gp-flex-none{flex:none}.gps-564704643351839755 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-564704643351839755 .tablet\:\!gp-justify-start{justify-content:flex-start!important}}@media (max-width:767px){.gps-564704643351839755 .mobile\:gp-relative{position:relative}.gps-564704643351839755 .mobile\:\!gp-hidden{display:none!important}.gps-564704643351839755 .mobile\:gp-hidden{display:none}.gps-564704643351839755 .mobile\:gp-h-auto{height:auto}.gps-564704643351839755 .mobile\:gp-flex-none{flex:none}.gps-564704643351839755 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-564704643351839755 .mobile\:\!gp-justify-start{justify-content:flex-start!important}}.gps-564704643351839755 .\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}@media (max-width:1024px){.gps-564704643351839755 .tablet\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}@media (max-width:767px){.gps-564704643351839755 .mobile\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}.gps-564704643351839755 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-564704643351839755 .\[\&_p\]\:gp-inline p{display:inline}.gps-564704643351839755 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-564704643351839755 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-564704643351839755 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gsgbKjfRy3" data-id="gsgbKjfRy3"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:transparent;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gsgbKjfRy3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEdamFBUJb gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"#FFFDFB","image":{"height":549,"src":"https://ucarecdn.com/ee0e019b-eca5-4dce-91fb-0ad32b14ef9a/banner.svg","width":1440},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"#FFFDFB","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#FFFDFB","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gSKZbbVguP","enableParallax":false,"speedParallax":0,"hoverEffect":false,"hoverEffectScale":1.1,"layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12]}},"contentPosition1Col":{"desktop":"top"},"contentPosition2Col":{"desktop":"top"}}'
        gp-href=""
        
        class="gSKZbbVguP gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pt:30px;--pb:0px;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gSKZbbVguP"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-start tablet:!gp-justify-start mobile:!gp-justify-start"
        style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--bgc:#FFFDFB;--bgc-tablet:#FFFDFB;--bgc-mobile:#FFFDFB"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/ee0e019b-eca5-4dce-91fb-0ad32b14ef9a/banner.svg" />
      <source media="(max-width: 1024px)" srcset="https://ucarecdn.com/ee0e019b-eca5-4dce-91fb-0ad32b14ef9a/banner.svg" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://ucarecdn.com/ee0e019b-eca5-4dce-91fb-0ad32b14ef9a/banner.svg"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgc:#FFFDFB;--bgc-tablet:#FFFDFB;--bgc-mobile:#FFFDFB;--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bgi:url('https://ucarecdn.com/ee0e019b-eca5-4dce-91fb-0ad32b14ef9a/banner.svg');--bgi-tablet:url('');--bgi-mobile:url('');--duration:0.5s;--scale:1.1;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--cg:auto;--pc:start;--pc-tablet:start;--pc-mobile:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-start tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-start mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTK1iyA-qR gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="guRkyD8P7f" data-id="guRkyD8P7f"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--mb-tablet:var(undefined);--pl-tablet:15px;--pr-tablet:15px;--cg:0px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 6fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guRkyD8P7f gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggGzNDuwyo gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gG1mJANnkc" data-id="gG1mJANnkc"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--ml:auto;--pt:50px;--pl:0px;--pr:0px;--pt-mobile:33px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gG1mJANnkc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXCZVd4JTx gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gBSiA0R_Ky">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gBSiA0R_Ky "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mr:-110px;--mb-mobile:var(--g-s-l);--mr-mobile:0px;--mb-tablet:var(--g-s-l);--mr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:51px;--size-tablet:51px;--size-mobile:44px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggBSiA0R_Ky_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gNsVCNLPHN">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gNsVCNLPHN "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl);--mr:-110px;--mb-mobile:var(--g-s-2xl);--mr-mobile:0px;--mb-tablet:var(--g-s-2xl);--mr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#424242;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggNsVCNLPHN_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-l);--mb-tablet:var(--g-s-l);--ta:left"
    
  >
    <style>
    .gI4SO85jRj.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #CD1B2E;
  
      
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
    }

    .gI4SO85jRj:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #991421;
  
      
    }

    .gI4SO85jRj:hover .gp-button-icon {
      color: var(--g-c-bg-3, bg-3);
    }

     .gI4SO85jRj .gp-button-icon {
      color: var(--g-c-bg-3, bg-3);
    }

    .gI4SO85jRj:hover .gp-button-price {
      color: var(--g-c-bg-3, bg-3);
    }

    .gI4SO85jRj .gp-button-price {
      color: var(--g-c-bg-3, bg-3);
    }

    .gI4SO85jRj .gp-product-dot-price {
       color: var(--g-c-bg-3, bg-3);
    }

    .gI4SO85jRj:hover .gp-product-dot-price {
      color: var(--g-c-bg-3, bg-3);
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/all" target="_blank" data-id="gI4SO85jRj" aria-label="Find The Perfect Item"
      
      data-state="idle"
      class="gI4SO85jRj gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-text-g-bg-3 gp-text-g-bg-3 gp-text-center"
      style="--hvr-bg:#991421;--bg:#4d903f;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:10px;--pb-mobile:10px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:var(--g-c-bg-3, bg-3);--c:var(--g-c-bg-3, bg-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:800;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:var(--g-c-bg-3, bg-3);--c:var(--g-c-bg-3, bg-3)"
      >
        {{ section.settings.ggI4SO85jRj_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gd8iR-XxQG gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gLQPdsCAra" data-id="gLQPdsCAra"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb-mobile:var(--g-s-2xl);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:transparent;--bgi:url();--bgi-mobile:url(https://ucarecdn.com/ff578c40-80bc-43e9-ba0a-56d554fda438/visual.svg);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gLQPdsCAra gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gn0swKNt-w gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gIPa--ARrV"
    role="presentation"
    class="gp-group/image gIPa--ARrV gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:0px;--pl-mobile:38px;--pr-mobile:38px;--mb-tablet:var(--g-s-2xl);--pl-tablet:100px;--pr-tablet:100px;--ta:left;--ta-tablet:center;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left;--jc-tablet:center;--jc-mobile:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/96936b63-bb3e-401f-b70a-0fea200f6c1c/-/format/auto/-/preview/3000x3000/-/quality/lighter/girl.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE0MCIgaGVpZ2h0PSIxMDM2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMTQwLTEwMzYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjExNDAiIGhlaWdodD0iMTAzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE0MCIgaGVpZ2h0PSIxMDM2IiBmaWxsPSJ1cmwoI2ctMTE0MC0xMDM2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTE0MCIgdG89IjExNDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/96936b63-bb3e-401f-b70a-0fea200f6c1c/-/format/auto/-/preview/3000x3000/-/quality/lighter/girl.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE0MCIgaGVpZ2h0PSIxMDM2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMTQwLTEwMzYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjExNDAiIGhlaWdodD0iMTAzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE0MCIgaGVpZ2h0PSIxMDM2IiBmaWxsPSJ1cmwoI2ctMTE0MC0xMDM2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTE0MCIgdG89IjExNDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE0MCIgaGVpZ2h0PSIxMDM2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMTQwLTEwMzYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjExNDAiIGhlaWdodD0iMTAzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE0MCIgaGVpZ2h0PSIxMDM2IiBmaWxsPSJ1cmwoI2ctMTE0MC0xMDM2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTE0MCIgdG89IjExNDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://ucarecdn.com/96936b63-bb3e-401f-b70a-0fea200f6c1c/-/format/auto/-/preview/3000x3000/-/quality/lighter/girl.png"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:538px;--w-mobile:270px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gVQR0eKP8L" data-id="gVQR0eKP8L"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:63px;--pl-tablet:15px;--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVQR0eKP8L gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzi5mpHcLS gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gu6JAvgx_D">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gu6JAvgx_D "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--size:38px;--lh:150%;--fs:normal;--weight:700;--ls:0px;--size-tablet:38px;--size-mobile:33px;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggu6JAvgx_D_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gwa_d0hEgv">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gwa_d0hEgv "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggwa_d0hEgv_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gK3LN9JNOj gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gWczRnl0O1">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gWczRnl0O1 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--size:38px;--lh:150%;--fs:normal;--weight:700;--ls:0px;--size-tablet:38px;--size-mobile:33px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggWczRnl0O1_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gYNTr24d5M">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gYNTr24d5M "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggYNTr24d5M_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gf3QMlA8gj gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gsIriqbn3P">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gsIriqbn3P "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--size:38px;--lh:150%;--fs:normal;--weight:700;--ls:0px;--size-tablet:38px;--size-mobile:33px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggsIriqbn3P_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g1K7eY1zlD">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g1K7eY1zlD "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg1K7eY1zlD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNfibhNQQ6 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gW3CkOs8tu" data-id="gW3CkOs8tu"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:none;--op:100%;--pt:128px;--pl:0px;--pr:0px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gW3CkOs8tu gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1OZFaTjF6 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g-DL3wTn91" data-id="g-DL3wTn91"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-DL3wTn91 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggxECXNatR gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gUgy3z1IgJ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gUgy3z1IgJ "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggUgy3z1IgJ_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g_wfPQ-wLK">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g_wfPQ-wLK "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg_wfPQ-wLK_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gJgU8oKn9d" data-id="gJgU8oKn9d"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:none;--op:100%;--mb:var(--g-s-2xl);--pl:0px;--pr:0px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJgU8oKn9d gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQlNnO9_Ye gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="geL9tSSkCd">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="geL9tSSkCd "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggeL9tSSkCd_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gryoGsenSC">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gryoGsenSC "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggryoGsenSC_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gGbNeaI4be" data-id="gGbNeaI4be"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:none;--op:100%;--pl:0px;--pr:0px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGbNeaI4be gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggOktcn5PN gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g5hNLS5F-J">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g5hNLS5F-J "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg5hNLS5F-J_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g08DzdX3L4">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g08DzdX3L4 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg08DzdX3L4_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-564704643351839755 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/niletechnology/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=564704600737710866&sectionId=564704643351839755)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggBSiA0R_Ky_text","label":"ggBSiA0R_Ky_text","default":"<p><span style=\"color:#CD1B2E;\">Up To 55% OFF</span></p><p>Women's Day Exclusively</p>"},{"type":"html","id":"ggNsVCNLPHN_text","label":"ggNsVCNLPHN_text","default":"<p>Celebrate your feminine ferocity with our new sterling silver online exclusive jewelry collection.</p>"},{"type":"html","id":"ggI4SO85jRj_label","label":"ggI4SO85jRj_label","default":"Find The Perfect Item"},{"type":"html","id":"ggu6JAvgx_D_text","label":"ggu6JAvgx_D_text","default":"<p>10K+</p>"},{"type":"html","id":"ggwa_d0hEgv_text","label":"ggwa_d0hEgv_text","default":"<p>Trusted by 10K+ Clients</p>"},{"type":"html","id":"ggWczRnl0O1_text","label":"ggWczRnl0O1_text","default":"<p>100%</p>"},{"type":"html","id":"ggYNTr24d5M_text","label":"ggYNTr24d5M_text","default":"<p>Money-Back Guarantee</p>"},{"type":"html","id":"ggsIriqbn3P_text","label":"ggsIriqbn3P_text","default":"<p>100%</p>"},{"type":"html","id":"gg1K7eY1zlD_text","label":"gg1K7eY1zlD_text","default":"<p>Made in USA</p>"},{"type":"html","id":"ggUgy3z1IgJ_text","label":"ggUgy3z1IgJ_text","default":"<p>10K+</p>"},{"type":"html","id":"gg_wfPQ-wLK_text","label":"gg_wfPQ-wLK_text","default":"<p>Trusted by 10K+ Clients</p>"},{"type":"html","id":"ggeL9tSSkCd_text","label":"ggeL9tSSkCd_text","default":"<p>100%</p>"},{"type":"html","id":"ggryoGsenSC_text","label":"ggryoGsenSC_text","default":"<p>Money-Back Guarantee</p>"},{"type":"html","id":"gg5hNLS5F-J_text","label":"gg5hNLS5F-J_text","default":"<p>100%</p>"},{"type":"html","id":"gg08DzdX3L4_text","label":"gg08DzdX3L4_text","default":"<p>Made in Ethiopia</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
