

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-564704650129834803.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-564704650129834803.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-564704650129834803.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-564704650129834803.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-564704650129834803.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-564704650129834803.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-564704650129834803.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-564704650129834803.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-564704650129834803.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-564704650129834803.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-564704650129834803.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-564704650129834803.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-564704650129834803.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-564704650129834803.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-564704650129834803.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-564704650129834803.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-564704650129834803.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-564704650129834803.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-564704650129834803.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-564704650129834803.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-564704650129834803.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-564704650129834803.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-564704650129834803.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-564704650129834803.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-564704650129834803.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-564704650129834803.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-564704650129834803.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-564704650129834803.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-564704650129834803.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-564704650129834803.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-564704650129834803.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-564704650129834803.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-564704650129834803.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-564704650129834803.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-564704650129834803.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-564704650129834803.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-564704650129834803.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-564704650129834803.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-564704650129834803.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-564704650129834803.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-564704650129834803.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-564704650129834803.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-564704650129834803.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-564704650129834803.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-564704650129834803.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-564704650129834803.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-564704650129834803.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-564704650129834803.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-564704650129834803.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-564704650129834803.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-564704650129834803.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-564704650129834803.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-564704650129834803.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-564704650129834803.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-564704650129834803.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-564704650129834803.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-564704650129834803.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-564704650129834803.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-564704650129834803.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-564704650129834803.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-564704650129834803.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-564704650129834803.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-564704650129834803.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-564704650129834803.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-564704650129834803.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-564704650129834803.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-564704650129834803.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-564704650129834803.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-564704650129834803.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-564704650129834803.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-564704650129834803.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-564704650129834803.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-564704650129834803 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-564704650129834803 .gp-absolute{position:absolute}.gps-564704650129834803 .gp-relative{position:relative}.gps-564704650129834803 .gp-inset-0{inset:0}.gps-564704650129834803 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-564704650129834803 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-564704650129834803 .gp-z-1{z-index:1}.gps-564704650129834803 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-564704650129834803 .gp-mb-0{margin-bottom:0}.gps-564704650129834803 .gp-flex{display:flex}.gps-564704650129834803 .gp-inline-flex{display:inline-flex}.gps-564704650129834803 .gp-grid{display:grid}.gps-564704650129834803 .\!gp-hidden{display:none!important}.gps-564704650129834803 .gp-hidden{display:none}.gps-564704650129834803 .gp-h-full{height:100%}.gps-564704650129834803 .gp-w-full{width:100%}.gps-564704650129834803 .gp-max-w-full{max-width:100%}.gps-564704650129834803 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-564704650129834803 .gp-flex-col{flex-direction:column}.gps-564704650129834803 .gp-items-center{align-items:center}.gps-564704650129834803 .\!gp-justify-end{justify-content:flex-end!important}.gps-564704650129834803 .gp-justify-center{justify-content:center}.gps-564704650129834803 .gp-gap-y-0{row-gap:0}.gps-564704650129834803 .gp-overflow-hidden{overflow:hidden}.gps-564704650129834803 .gp-break-words{overflow-wrap:break-word}.gps-564704650129834803 .gp-rounded-none{border-radius:0}.gps-564704650129834803 .gp-text-center{text-align:center}.gps-564704650129834803 .gp-no-underline{text-decoration-line:none}.gps-564704650129834803 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-564704650129834803 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-564704650129834803 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-564704650129834803 .gp-duration-200{transition-duration:.2s}.gps-564704650129834803 .gp-duration-300{transition-duration:.3s}.gps-564704650129834803 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-564704650129834803 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-564704650129834803 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-564704650129834803 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-564704650129834803 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-564704650129834803 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-564704650129834803 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-564704650129834803 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}.gps-564704650129834803 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-564704650129834803 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-564704650129834803 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-564704650129834803 .tablet\:gp-relative{position:relative}.gps-564704650129834803 .tablet\:\!gp-hidden{display:none!important}.gps-564704650129834803 .tablet\:gp-hidden{display:none}.gps-564704650129834803 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-564704650129834803 .tablet\:\!gp-justify-end{justify-content:flex-end!important}}@media (max-width:767px){.gps-564704650129834803 .mobile\:gp-relative{position:relative}.gps-564704650129834803 .mobile\:\!gp-hidden{display:none!important}.gps-564704650129834803 .mobile\:gp-hidden{display:none}.gps-564704650129834803 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-564704650129834803 .mobile\:\!gp-justify-end{justify-content:flex-end!important}}@media (max-width:1024px){.gps-564704650129834803 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-564704650129834803 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-564704650129834803 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-564704650129834803 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gRL7tPC4-o" data-id="gRL7tPC4-o"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:72px;--pl:15px;--pb:72px;--pr:15px;--pt-mobile:63px;--pl-mobile:15px;--pb-mobile:63px;--pr-mobile:15px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRL7tPC4-o gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0zRnbo2e3 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gOw0N9C0eU" data-id="gOw0N9C0eU"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOw0N9C0eU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRIfDfL9BJ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gjaBExe5a_" data-id="gjaBExe5a_"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--mt-mobile:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjaBExe5a_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1FbX_xHSA gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":693,"src":"https://ucarecdn.com/ea72adf9-57e8-49e5-87a1-ddedde391b38/-/format/auto/-/preview/3000x3000/-/quality/lighter/c2.png","width":694},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":693,"src":"https://ucarecdn.com/ea72adf9-57e8-49e5-87a1-ddedde391b38/-/format/auto/-/preview/3000x3000/-/quality/lighter/c2.png","width":694},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":693,"src":"https://ucarecdn.com/ea72adf9-57e8-49e5-87a1-ddedde391b38/-/format/auto/-/preview/3000x3000/-/quality/lighter/c2.png","width":694},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gPvWqZYdBI","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":1.1,"layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12]}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"bottom"}}'
        gp-href=""
        
        class="gPvWqZYdBI gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gPvWqZYdBI"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--bgc:var(--g-c-bg-2)"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/ea72adf9-57e8-49e5-87a1-ddedde391b38/-/format/auto/-/preview/3000x3000/-/quality/lighter/c2.png" />
      <source media="(max-width: 1024px)" srcset="https://ucarecdn.com/ea72adf9-57e8-49e5-87a1-ddedde391b38/-/format/auto/-/preview/3000x3000/-/quality/lighter/c2.png" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://ucarecdn.com/ea72adf9-57e8-49e5-87a1-ddedde391b38/-/format/auto/-/preview/3000x3000/-/quality/lighter/c2.png"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('https://ucarecdn.com/ea72adf9-57e8-49e5-87a1-ddedde391b38/-/format/auto/-/preview/3000x3000/-/quality/lighter/c2.png');--bgi-tablet:url('https://ucarecdn.com/ea72adf9-57e8-49e5-87a1-ddedde391b38/-/format/auto/-/preview/3000x3000/-/quality/lighter/c2.png');--bgi-mobile:url('https://ucarecdn.com/ea72adf9-57e8-49e5-87a1-ddedde391b38/-/format/auto/-/preview/3000x3000/-/quality/lighter/c2.png');--duration:0.5s;--scale:1.1;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--cg:var(--g-s-2xl);--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmcz7zZn1L gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="ghfaOIMqHf" data-id="ghfaOIMqHf"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:240px;--pl:var(--g-s-l);--pr:var(--g-s-l);--pt-mobile:97px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghfaOIMqHf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJxDV6R9zl gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:left;--ta-mobile:center"
    
  >
    <style>
    .g2ZbYOaV5x.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g2ZbYOaV5x:hover::before {
      
      
    }

    .g2ZbYOaV5x:hover .gp-button-icon {
      color: #424242;
    }

     .g2ZbYOaV5x .gp-button-icon {
      color: #424242;
    }

    .g2ZbYOaV5x:hover .gp-button-price {
      color: #424242;
    }

    .g2ZbYOaV5x .gp-button-price {
      color: #424242;
    }

    .g2ZbYOaV5x .gp-product-dot-price {
       color: #424242;
    }

    .g2ZbYOaV5x:hover .gp-product-dot-price {
      color: #424242;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/galaxy-earrings" target="_self" data-id="g2ZbYOaV5x" aria-label="RINGS"
      
      data-state="idle"
      class="g2ZbYOaV5x gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:rgba(255, 255, 255, 0.8);--bg:rgba(255, 255, 255, 0.8);--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--w:180px;--w-tablet:180px;--w-mobile:145px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#424242;--c:#424242;--size:21px;--size-tablet:21px;--size-mobile:12px;--fs:normal;--ff:var(--g-font-body, body);--weight:800;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:21px;--size-tablet:21px;--size-mobile:12px;--hvr-c:#424242;--c:#424242"
      >
        {{ section.settings.gg2ZbYOaV5x_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3uUI5wF5e gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":693,"src":"https://ucarecdn.com/a9102b07-cf78-4c24-b56c-29a11c877409/-/format/auto/-/preview/3000x3000/-/quality/lighter/c3.png","width":694},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":693,"src":"https://ucarecdn.com/a9102b07-cf78-4c24-b56c-29a11c877409/-/format/auto/-/preview/3000x3000/-/quality/lighter/c3.png","width":694},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":693,"src":"https://ucarecdn.com/a9102b07-cf78-4c24-b56c-29a11c877409/-/format/auto/-/preview/3000x3000/-/quality/lighter/c3.png","width":694},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gS6HxzIi5M","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":1.1,"layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12]}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"bottom"}}'
        gp-href=""
        
        class="gS6HxzIi5M gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gS6HxzIi5M"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--bgc:var(--g-c-bg-2)"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/a9102b07-cf78-4c24-b56c-29a11c877409/-/format/auto/-/preview/3000x3000/-/quality/lighter/c3.png" />
      <source media="(max-width: 1024px)" srcset="https://ucarecdn.com/a9102b07-cf78-4c24-b56c-29a11c877409/-/format/auto/-/preview/3000x3000/-/quality/lighter/c3.png" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://ucarecdn.com/a9102b07-cf78-4c24-b56c-29a11c877409/-/format/auto/-/preview/3000x3000/-/quality/lighter/c3.png"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('https://ucarecdn.com/a9102b07-cf78-4c24-b56c-29a11c877409/-/format/auto/-/preview/3000x3000/-/quality/lighter/c3.png');--bgi-tablet:url('https://ucarecdn.com/a9102b07-cf78-4c24-b56c-29a11c877409/-/format/auto/-/preview/3000x3000/-/quality/lighter/c3.png');--bgi-mobile:url('https://ucarecdn.com/a9102b07-cf78-4c24-b56c-29a11c877409/-/format/auto/-/preview/3000x3000/-/quality/lighter/c3.png');--duration:0.5s;--scale:1.1;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--cg:var(--g-s-2xl);--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEJNB4nSnb gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gD2c3ja7rX" data-id="gD2c3ja7rX"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:240px;--pl:var(--g-s-l);--pr:var(--g-s-l);--pt-mobile:97px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gD2c3ja7rX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUxkJKIJUv gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:left;--ta-mobile:center"
    
  >
    <style>
    .giG3cy7k1C.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .giG3cy7k1C:hover::before {
      
      
    }

    .giG3cy7k1C:hover .gp-button-icon {
      color: #424242;
    }

     .giG3cy7k1C .gp-button-icon {
      color: #424242;
    }

    .giG3cy7k1C:hover .gp-button-price {
      color: #424242;
    }

    .giG3cy7k1C .gp-button-price {
      color: #424242;
    }

    .giG3cy7k1C .gp-product-dot-price {
       color: #424242;
    }

    .giG3cy7k1C:hover .gp-product-dot-price {
      color: #424242;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/looped-earrings" target="_self" data-id="giG3cy7k1C" aria-label="EARRINGS"
      
      data-state="idle"
      class="giG3cy7k1C gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:rgba(255, 255, 255, 0.8);--bg:rgba(255, 255, 255, 0.8);--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--w:180px;--w-tablet:180px;--w-mobile:145px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#424242;--c:#424242;--size:21px;--size-tablet:21px;--size-mobile:12px;--fs:normal;--ff:var(--g-font-body, body);--weight:800;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:21px;--size-tablet:21px;--size-mobile:12px;--hvr-c:#424242;--c:#424242"
      >
        {{ section.settings.ggiG3cy7k1C_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g17GRXkYHB" data-id="g17GRXkYHB"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g17GRXkYHB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOyLJwfSLk gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":693,"src":"https://ucarecdn.com/9c214ddd-744b-4c64-a518-493a9679e186/-/format/auto/-/preview/3000x3000/-/quality/lighter/c4.png","width":694},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":693,"src":"https://ucarecdn.com/9c214ddd-744b-4c64-a518-493a9679e186/-/format/auto/-/preview/3000x3000/-/quality/lighter/c4.png","width":694},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":693,"src":"https://ucarecdn.com/9c214ddd-744b-4c64-a518-493a9679e186/-/format/auto/-/preview/3000x3000/-/quality/lighter/c4.png","width":694},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gyIqvlttp7","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":1.1,"layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12]}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"bottom"}}'
        gp-href=""
        
        class="gyIqvlttp7 gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gyIqvlttp7"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--bgc:var(--g-c-bg-2)"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/9c214ddd-744b-4c64-a518-493a9679e186/-/format/auto/-/preview/3000x3000/-/quality/lighter/c4.png" />
      <source media="(max-width: 1024px)" srcset="https://ucarecdn.com/9c214ddd-744b-4c64-a518-493a9679e186/-/format/auto/-/preview/3000x3000/-/quality/lighter/c4.png" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://ucarecdn.com/9c214ddd-744b-4c64-a518-493a9679e186/-/format/auto/-/preview/3000x3000/-/quality/lighter/c4.png"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('https://ucarecdn.com/9c214ddd-744b-4c64-a518-493a9679e186/-/format/auto/-/preview/3000x3000/-/quality/lighter/c4.png');--bgi-tablet:url('https://ucarecdn.com/9c214ddd-744b-4c64-a518-493a9679e186/-/format/auto/-/preview/3000x3000/-/quality/lighter/c4.png');--bgi-mobile:url('https://ucarecdn.com/9c214ddd-744b-4c64-a518-493a9679e186/-/format/auto/-/preview/3000x3000/-/quality/lighter/c4.png');--duration:0.5s;--scale:1.1;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--cg:var(--g-s-2xl);--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvGRDhhitc gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gFDIyqB-hS" data-id="gFDIyqB-hS"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:240px;--pl:var(--g-s-l);--pr:var(--g-s-l);--pt-mobile:97px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFDIyqB-hS gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gS3O8bkpq8 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:left;--ta-mobile:center"
    
  >
    <style>
    .gULIL9sJup.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gULIL9sJup:hover::before {
      
      
    }

    .gULIL9sJup:hover .gp-button-icon {
      color: #424242;
    }

     .gULIL9sJup .gp-button-icon {
      color: #424242;
    }

    .gULIL9sJup:hover .gp-button-price {
      color: #424242;
    }

    .gULIL9sJup .gp-button-price {
      color: #424242;
    }

    .gULIL9sJup .gp-product-dot-price {
       color: #424242;
    }

    .gULIL9sJup:hover .gp-product-dot-price {
      color: #424242;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/moon-charm-bracelet" target="_self" data-id="gULIL9sJup" aria-label="BRACELETS"
      
      data-state="idle"
      class="gULIL9sJup gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:rgba(255, 255, 255, 0.8);--bg:rgba(255, 255, 255, 0.8);--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--w:180px;--w-tablet:180px;--w-mobile:145px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#424242;--c:#424242;--size:21px;--size-tablet:21px;--size-mobile:12px;--fs:normal;--ff:var(--g-font-body, body);--weight:800;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:21px;--size-tablet:21px;--size-mobile:12px;--hvr-c:#424242;--c:#424242"
      >
        {{ section.settings.ggULIL9sJup_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gR4v9tboWX gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":693,"src":"https://ucarecdn.com/8ec4bdd4-fae6-4a34-bfe2-9828bd545c83/-/format/auto/-/preview/3000x3000/-/quality/lighter/c5.png","width":694},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":693,"src":"https://ucarecdn.com/8ec4bdd4-fae6-4a34-bfe2-9828bd545c83/-/format/auto/-/preview/3000x3000/-/quality/lighter/c5.png","width":694},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":693,"src":"https://ucarecdn.com/8ec4bdd4-fae6-4a34-bfe2-9828bd545c83/-/format/auto/-/preview/3000x3000/-/quality/lighter/c5.png","width":694},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"glmT3MtCoX","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":1.1,"layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12]}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"bottom"}}'
        gp-href=""
        
        class="glmT3MtCoX gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="glmT3MtCoX"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--bgc:var(--g-c-bg-2)"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/8ec4bdd4-fae6-4a34-bfe2-9828bd545c83/-/format/auto/-/preview/3000x3000/-/quality/lighter/c5.png" />
      <source media="(max-width: 1024px)" srcset="https://ucarecdn.com/8ec4bdd4-fae6-4a34-bfe2-9828bd545c83/-/format/auto/-/preview/3000x3000/-/quality/lighter/c5.png" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://ucarecdn.com/8ec4bdd4-fae6-4a34-bfe2-9828bd545c83/-/format/auto/-/preview/3000x3000/-/quality/lighter/c5.png"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('https://ucarecdn.com/8ec4bdd4-fae6-4a34-bfe2-9828bd545c83/-/format/auto/-/preview/3000x3000/-/quality/lighter/c5.png');--bgi-tablet:url('https://ucarecdn.com/8ec4bdd4-fae6-4a34-bfe2-9828bd545c83/-/format/auto/-/preview/3000x3000/-/quality/lighter/c5.png');--bgi-mobile:url('https://ucarecdn.com/8ec4bdd4-fae6-4a34-bfe2-9828bd545c83/-/format/auto/-/preview/3000x3000/-/quality/lighter/c5.png');--duration:0.5s;--scale:1.1;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--cg:var(--g-s-2xl);--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTte5UXYm1 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gA7i8dMnei" data-id="gA7i8dMnei"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:240px;--pl:var(--g-s-l);--pr:var(--g-s-l);--pt-mobile:97px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gA7i8dMnei gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtiHJG8kLN gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:left;--ta-mobile:center"
    
  >
    <style>
    .gZy1fRnZ1Z.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gZy1fRnZ1Z:hover::before {
      
      
    }

    .gZy1fRnZ1Z:hover .gp-button-icon {
      color: #424242;
    }

     .gZy1fRnZ1Z .gp-button-icon {
      color: #424242;
    }

    .gZy1fRnZ1Z:hover .gp-button-price {
      color: #424242;
    }

    .gZy1fRnZ1Z .gp-button-price {
      color: #424242;
    }

    .gZy1fRnZ1Z .gp-product-dot-price {
       color: #424242;
    }

    .gZy1fRnZ1Z:hover .gp-product-dot-price {
      color: #424242;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/silver-threader-necklace" target="_self" data-id="gZy1fRnZ1Z" aria-label="NECKLACES"
      
      data-state="idle"
      class="gZy1fRnZ1Z gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:rgba(255, 255, 255, 0.8);--bg:rgba(255, 255, 255, 0.8);--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--w:180px;--w-tablet:180px;--w-mobile:145px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#424242;--c:#424242;--size:21px;--size-tablet:21px;--size-mobile:12px;--fs:normal;--ff:var(--g-font-body, body);--weight:800;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:21px;--size-tablet:21px;--size-mobile:12px;--hvr-c:#424242;--c:#424242"
      >
        {{ section.settings.ggZy1fRnZ1Z_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-564704650129834803 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/niletechnology/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=564704600737710866&sectionId=564704650129834803)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg2ZbYOaV5x_label","label":"gg2ZbYOaV5x_label","default":"RINGS"},{"type":"html","id":"ggiG3cy7k1C_label","label":"ggiG3cy7k1C_label","default":"EARRINGS"},{"type":"html","id":"ggULIL9sJup_label","label":"ggULIL9sJup_label","default":"BRACELETS"},{"type":"html","id":"ggZy1fRnZ1Z_label","label":"ggZy1fRnZ1Z_label","default":"NECKLACES"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
